$bg_color: #181e26;
$header_bg_color: #101720;
$footer_color: #101720;
$container_width: 1280px;
$gutter_width: 30px;
$main_font_color: #92c9e8;
$accent_color: white;
$mobile_max: 768px;
$desktop_min: $mobile_max + 1;
$red: #ffa77c;
$green: #89e46d;